@media screen and (min-width: $tablet) {
  .product-description {
    > p {
      flex: 1;
      padding: 0 2em;
    }
  }
}

@media screen and (min-width: $desktop) {
  .product-description {
    flex-direction: column;
    margin-bottom: 2rem;
    h2 {
      color: $fontPrimaryColor;
      border-left: 2px solid $brandPrimary;
      padding-left: 1em;
    }
  }
}

@media screen and (min-width: $largeDesktop) {
  .product-description {
    margin-bottom: 3rem;
  }
}
