.product-description {
  line-height: 1.5em;
  > p {
    font-size: $normal;
    img:first-child {
      max-height: 15em;
      width: 100%;
    }
    img:last-child {
      width: unset;
    }
  }
}
@media screen and (min-width: $tablet) {
  .product-description {
    > p {
      flex: 1;
      padding: 0 2em;
    }
  }
}

@media screen and (min-width: $desktop) {
  .product-description {
    flex-direction: column;
    margin-bottom: 2rem;
    h2 {
      color: $fontPrimaryColor;
      border-left: 2px solid $brandPrimary;
      padding-left: 1.5em;
    }
  }
}

@media screen and (min-width: $largeDesktop) {
  .product-description {
    margin-bottom: 3rem;
  }
}
