.media-grid {
  display: flex;
  flex-direction: column;
  margin-bottom: $mediaSpacing;
  flex-wrap: wrap;
  height: $baseMediaGridHeight;
  overflow: hidden;

  .media-container {
    flex: 1 1 $baseMediaHeight;
    width: calc(100% - #{$mediaSpacing * 2});
    margin: $mediaSpacing;

    height: 3em;
  }
}

@media screen and (min-width: $desktop) {
  .media-grid {
    .media-container {
      flex: 1 1 $baseMediaHeight;
      width: calc(50% - #{$mediaSpacing * 2});
    }
  }
}
