#related-products {
  .tile__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .tile__content__title {
      text-align: center;
    }
    .media-grid {
      max-height: 20em;
      .media__details {
        width: 100%;
        &__title {
          padding-left: 0;
        }
      }
    }
  }
}

@media screen and (min-width: $largeDesktop) {
  #related-products {
    .tile__content {
      .media-grid {
        .media__details {
          width: 50%;
          &__title {
            padding-left: 2em;
          }
        }
      }
    }
  }
}
