#related-products {
  .tile__content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .tile__content__title {
      text-align: center;
    }
    .media-grid {
      max-height: 20em;
    }
  }
}
