.logo {
  padding: 1em 3em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  border: 1px solid #fff;
  background: $brandSecondaryBackground;
  color: #fff;
  max-width: 7em;
  margin: 3em auto;
  font-family: $secondaryFontFamily;
}
