.footer {
  background: $brandPrimaryBackground;
  color: $reverseFontColor;
  text-align: center;
  padding: 1em;

  &__logo {
    display: flex;
    flex-direction: column;
    margin: 4em auto;
    &:after {
      content: "";
      position: relative;
      top: 3em;
      width: 80%;
      height: 1px;
      background: $backgroundColor;
      margin: auto;
    }
  }
}
